# Database
DATABASE_URL="postgresql://user:password@localhost:5432/nepal_shop?schema=public"

# Auth
AUTH_SECRET="your-auth-secret-here"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="NepalShop"

# eSewa Payment
ESEWA_MERCHANT_ID="your-esewa-merchant-id"
ESEWA_SECRET_KEY="your-esewa-secret-key"
ESEWA_PRODUCT_CODE="EPAYTEST"
ESEWA_PAYMENT_URL="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
ESEWA_VERIFY_URL="https://rc-epay.esewa.com.np/api/epay/transaction/status/"
ESEWA_ENVIRONMENT="sandbox"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Google OAuth (Gmail Sign-In)
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Admin
ADMIN_EMAIL="admin@yatoshop.com"
ADMIN_PASSWORD="Admin@123456"
